#main{
  display:inline-block;
  width:78%;
}
#aside{
  display:inline-block;
  width: auto;
  vertical-align: top;
}
#user-friends{
  border:1px solid lightgrey;
  text-align:center;
 
}
#all-users{
 
  border:1px solid lightgrey;
}