<div>
    <p>Hi!! <strong><%=comment.user.name %></strong></p>
    <br><br>
    <p>your comment <strong><%=comment.content%></strong> just got pulished on codial..</p>
    <br><br>
    <p>Thanks!!</p>
</div>